<div class="auth-page">
  <div class="auth-background"></div>
  <div class="auth-container z-depth-3">
    <div class="auth-logo center-align">
      <img src="/images/logo.png" alt="Логотип" class="responsive-img" style="max-height: 80px;">
    </div>
    <h5 class="center-align white-text">Добро пожаловать</h5>
    <form id="auth-form" class="auth-form">
      <div class="input-field">
        <input id="email" type="email" name="email" required>
        <label for="email">Логин</label>
      </div>
      <div class="input-field">
        <input id="password" type="password" name="password" required>
        <label for="password">Пароль</label>
      </div>
      <div class="center-align">
        <button type="submit" class="btn waves-effect waves-light blue darken-2">
          Войти
        </button>
      </div>
    </form>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    M.updateTextFields(); // Обновляет плейсхолдеры для Materialize
  });
</script>
