{{!-- <!Создание заявки> --}}

<div class="create-container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Создание заявки</span>
          
          <form class="create-form" action="/create" method="POST">
            <div class="input-field">
              <input id="item_name" name="item_name" type="text" class="validate" required>
              <label for="item_name">Название</label>
            </div>
            
            <div class="input-field">
              <input id="count" name="count" type="number" class="validate" required min="1">
              <label for="count">Количество</label>
            </div>
            
            <div class="input-field">
              <input id="price" name="price" type="number" class="validate" required min="0" step="0.01">
              <label for="price">Цена (₽)</label>
            </div>
            
            <div class="input-field">
              <input id="link" name="link" type="url" class="validate" required>
              <label for="link">Ссылка</label>
            </div>
            
            <div class="input-field">
              <input id="desired_date" name="desired_date" type="text" class="datepicker" required>
              <label for="desired_date">Желаемая дата</label>
            </div>
            
            <div class="input-field">
              <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
              <label for="comment">Комментарий (необязательно)</label>
            </div>
            
            <button class="btn waves-effect waves-light submit-btn" type="submit">
              СОЗДАТЬ ЗАЯВКУ
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const dateElems = document.querySelectorAll('.datepicker');
    M.Datepicker.init(dateElems, {
      format: 'dd.mm.yyyy',
      autoClose: true,
      i18n: {
        cancel: 'Отмена',
        clear: 'Очистить',
        done: 'Выбрать',
        months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
        weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
        weekdaysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        weekdaysAbbrev: ['В', 'П', 'В', 'С', 'Ч', 'П', 'С']
      }
    });
  });
</script>
