/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  max-height: 900px;
  height: 100%;
  padding: 10rem;
  background: rgb(255 255 255 / 12%); 
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin: 0 auto;
  box-sizing: border-box;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
}

html, body {
  height: 100%;
  margin: 0;
  align-content: center;
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
} */

  html, body {

  background: url('/images/bg.jpg') no-repeat center center fixed;

}
